[submodule "quickstart/themes/ananke"]
	path = quickstart/themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "quickstart/themes/toha"]
	path = quickstart/themes/toha
	url = https://github.com/hugo-toha/toha.git
